@import 'npm:open-props/open-props.min.css';
@import 'npm:open-props/normalize.min.css';

* {
  --brand: var(--teal-7);
}

.navigation-bar {
  background-image: var(--gradient-23);
  padding-block: var(--size-4);
  padding-inline: var(--size-fluid-2);
}

.logo {
  color: var(--gray-0);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-8);
}

main {
  display: grid;
  place-items: center;
  gap: var(--size-4);
  padding: var(--size-4);
}

section {
  min-inline-size: var(--size-content-3);
}

.label {
  font-weight: var(--font-weight-6);
}

.inputs {
  display: flex;
  align-items: baseline;
  gap: var(--size-3);
}

.inputs button {
  padding: var(--size-2);
  color: var(--teal-0);
  border-radius: var(--radius-2);
  background-color: var(--teal-5);
}

input.input {
  border: var(--border-size-1) solid var(--teal-7);
  padding: var(--size-2);
}

input:hover {
  cursor: auto;
}

input:focus-visible {
  cursor: auto;
  outline-offset: 0;
  transform: none;
}

.card {
  background-color: white;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  color: var(--gray-7);
  padding-block: var(--size-fluid-1);
  padding-inline: var(--size-fluid-3);
}

.media {
  min-inline-size: var(--size-content-2);
}